
/*===========================
Universal Style
===========================*/

* {
	box-sizing: border-box;
}

/*===========================
Base Element
===========================*/

body,
input,
textarea,
select {
	font-family: 'Cormorant Infant', serif;
}

#title {
	
	/* Topbar */
	width: 100%;
	min-width: 320px;
	max-width: 1200px;
	height: 3.5rem;
	background: #2D3945;

	/* Font Attribute */
	font-size: 1.25rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;

	/* Font Alignment & Position */
	text-align: center;
	line-height: 3.5rem;
	padding: 0;
	margin: 0 auto;	
	
}

h2,
legend,
input[type="submit"] {
	font-size: 1.25rem;
	font-weight: 700;
}

h2,
legend {	
	padding-top: 30px;
	padding-bottom: 13px; 
}

p {
	font-size: 1rem;
	line-height: 1.2;
	margin-bottom: 36px;
	margin-top: 18px;
}

/*===========================
Form Style
===========================*/

/* Basic Style--------------------*/

legend {
	text-align: left;
}

span,
input,
label {
	display: inline-block;
}

span,
label {
	font-size: 1rem;
	padding-top: 18px;
	padding-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
textarea,
select {
	/*text-indent: 16px;*/
	padding-left: 16px;
	width: 100%;
	border-radius: 6px;
	padding-right: 16px;
}

select {
	/* text color */
	color: rgba(0,0,0, 0.16);
	background: url(../img/ic_unfold_more.png) no-repeat calc(100% - 16px) center;
	-webkit-appearance: none;
	-moz-appearance: none;
	/*appearance: none;*/
	overflow: hidden;
}

/*for IE10*/
select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="submit"] {
	height: 50px;
}

textarea {
	min-height: 100px;
	padding-top: 16px;
	font-size: 1rem;
	line-height: 1.2;
	resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
	outline-color: #46698B;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 16px;
}

input[type="submit"],
select {
	cursor: pointer;
}

fieldset {
	padding-bottom: 30px;
}

::placeholder {
	color: rgba(0,0,0, 0.38);
}

input::placeholder {
	text-align: right;
}

/* Border Style--------------------*/

legend {
	width: 100%;
	border-top: 2px solid #2D3945;
	position: relative;
}

.extra_border::before {
	content: "";
	display: block;
	width: 100%;
	border-top: 4px solid #2D3945;
	top: -10px;
	position: absolute;
}


/*===========================
Container
===========================*/

header,
p {
	text-align: center;
}

.container,
.wrapper {
	max-width: 632px;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
}

/*===========================
Color
===========================*/

.primary_color {
	color: #2D3945;
}

.light_color {
	color: #B1B5B9;
}

.accent_color {
	color: #55687A;
}

.light_gray_color {
	background-color: #EFF0F1;
}

.button_style {
	background-color: #4EBBB5;
	color: white;
}

input[type="submit"]:hover {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    transition:box-shadow 1s ease-in;
    -moz-transition:box-shadow 1s ease-in;
    -webkit-transition:box-shadow 1s ease-in;
    -o-transition:box-shadow 1s ease-in;
}

/*===========================
ClearFix
===========================*/

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

/*===========================
Media Querry
===========================*/

@media (min-width: 768px) {
	.one_line {
		margin-bottom: 40px;
	}

	.one_line:first-of-type {
		margin-top: 18px;
	}

	.one_line input,
	.one_line select {
		width: 70%;
		float: right;
	}
	.one_line > label {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 50px;
	}

	fieldset:first-of-type {
	padding-bottom: 0;
	}

}


